@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: "Helvetica";
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body .contaner .main .mara div .tri div .over, body .contaner .main .mara .fish, body .contaner header nav ul li {
  font-family: "Noto Sans JP", sans-serif;
}

body .contaner .main .d .mag .d2 div p {
  font-family: "Kaushan Script", cursive;
}

body .contaner .main .scrip .xxxt .mini p, body .contaner .main .mi .andy div .tu div .name, body .contaner .main .seksi div .name, body .contaner .main .mara div .tri div p, body .contaner .main .laraptxe .lara div div .a {
  font-family: "Montserrat", sans-serif;
}

body .contaner {
  margin: 0 auto;
  max-width: 1400px;
  padding-top: 5px;
}
body .contaner header {
  width: 100%;
  background-image: url(../img/15.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body .contaner header nav {
  display: flex;
  justify-content: space-around;
  padding: 7px;
}
body .contaner header nav h2 {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  align-items: center;
}
body .contaner header nav ul {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  width: 37.037037037%;
}
body .contaner header nav ul li {
  color: #fff;
  transition: 0.2s all;
}
body .contaner header nav ul li a {
  text-decoration: none;
  color: #fff;
}
body .contaner header nav ul li a:hover {
  border-bottom: 2px solid #F5C387;
  color: #F5C387;
}
body .contaner header nav ul li + li {
  margin-left: 8px;
}
body .contaner header nav .img {
  display: flex;
}
body .contaner header nav .img img {
  transition: 0.5s all;
}
body .contaner header nav .img img:hover {
  transform: scale(1.2);
}
body .contaner header nav .img img + img {
  margin-left: 22px;
}
body .contaner header nav .burger {
  z-index: 3;
  height: 40px;
  width: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
body .contaner header nav .burger span {
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
}
body .contaner header .header1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
}
body .contaner header .header1 .p1 {
  font-size: 33px;
  font-weight: 200;
  font-family: "Kaushan Script", cursive;
  color: #fff;
}
body .contaner header .header1 .p2 {
  text-align: center;
  padding-top: 12px;
  display: flex;
  font-size: 74px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
body .contaner header .header1 .aaa {
  padding: 30px 0 17px 0;
}
body .contaner header .header1 .lear {
  border: 2px solid #fff;
  padding: 4px;
  cursor: pointer;
  transition: 0.5s all;
}
body .contaner header .header1 .lear p {
  color: #fff;
  font-size: 13px;
}
body .contaner header .header1 .lear:hover {
  transform: scale(1.1);
}
body .contaner header .header1 .sass {
  margin-top: 110px;
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding-bottom: 8px;
}
body .contaner header .header1 .sass div {
  display: flex;
  flex-direction: column;
}
body .contaner header .header1 .sass div img {
  width: 70%;
  height: 3px;
  align-items: center;
}
body .contaner header .header1 .sass div p {
  color: #fff;
  padding-top: 10px;
}
body .contaner .main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .contaner .main .What {
  padding-top: 72px;
  font-family: "Kaushan Script", cursive;
  font-size: 18px;
}
body .contaner .main .Story {
  padding-top: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
body .contaner .main .Lorem {
  padding-top: 32px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body .contaner .main .Lorem p {
  padding-top: 32px;
  font-size: 13px;
  color: #C3C3C3;
}
body .contaner .main .img {
  padding-top: 52px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
body .contaner .main .img img {
  width: 25%;
  transition: 0.5s all;
}
body .contaner .main .img img:hover {
  box-shadow: 6px 6px 0 #95E1D3;
}
body .contaner .main .berez {
  margin-top: 40px;
  padding: 20px;
  width: 100%;
  background-color: #95E1D3;
  display: flex;
  justify-content: space-around;
}
body .contaner .main .berez div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .contaner .main .berez div p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 13px;
  text-align: center;
}
body .contaner .main .berez div .cef {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
}
body .contaner .main .laraptxe {
  align-self: center;
  padding-top: 32px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .contaner .main .laraptxe .xaxa {
  margin-bottom: 22px;
  padding-top: 62px;
}
body .contaner .main .laraptxe .lara {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
body .contaner .main .laraptxe .lara div {
  display: flex;
  width: 70%;
}
body .contaner .main .laraptxe .lara div img {
  align-self: center;
}
body .contaner .main .laraptxe .lara div div {
  display: flex;
  flex-direction: column;
  padding-left: 22px;
}
body .contaner .main .laraptxe .lara div div p {
  padding-top: 12px;
  font-size: 12px;
  color: #C3C3C3;
}
body .contaner .main .laraptxe .lara div div .a {
  padding: 0;
  font-size: 14px;
  color: #777777;
}
body .contaner .main .larapu {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .contaner .main .larapu div {
  width: 100%;
  background-image: url(../img/45.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
body .contaner .main .larapu div .b {
  width: 39.5833333333%;
}
body .contaner .main .larapu div .a {
  width: 18.75%;
}
body .contaner .main .mara {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-top: 17px;
}
body .contaner .main .mara .f1 {
  align-self: center;
  padding-bottom: 17px;
}
body .contaner .main .mara .fish {
  text-align: center;
  color: #C3C3C3;
  font-size: 13px;
  padding: 17px 15px;
  font-weight: 100;
}
body .contaner .main .mara div {
  display: flex;
}
body .contaner .main .mara div .foto {
  width: 50%;
}
body .contaner .main .mara div .tri {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  justify-content: space-around;
}
body .contaner .main .mara div .tri .tri1 {
  padding-bottom: 10px;
}
body .contaner .main .mara div .tri div {
  display: flex;
  width: 100%;
  background-image: url(../img/9.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body .contaner .main .mara div .tri div img {
  align-self: center;
}
body .contaner .main .mara div .tri div .over {
  font-weight: 100;
  margin: 0;
  overflow: auto;
  font-size: 12px;
  line-height: 20px;
  color: #C3C3C3;
  height: 100px;
}
body .contaner .main .mara div .tri div p {
  margin-left: 13px;
  align-self: center;
  font-weight: 600;
  padding: 0;
  font-size: 11px;
  color: #777777;
}
body .contaner .main .d {
  display: flex;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  width: 80%;
}
body .contaner .main .d .in {
  transform: rotate(180deg);
}
body .contaner .main .d .in2 {
  padding: 30px;
}
body .contaner .main .d img {
  align-self: center;
}
body .contaner .main .d .mag {
  display: flex;
  width: 70%;
  align-items: center;
}
body .contaner .main .d .mag .SPEECH {
  border: 2px solid #95E1D3;
  padding: 30px;
}
body .contaner .main .d .mag .d2 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
}
body .contaner .main .d .mag .d2 .rec {
  line-height: 20px;
  width: 100%;
  font-size: 15px;
  color: #c3c3c3;
}
body .contaner .main .d .mag .d2 div {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
body .contaner .main .d .mag .d2 div img {
  padding-right: 10px;
  align-self: center;
}
body .contaner .main .seksi {
  padding-top: 30px;
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}
body .contaner .main .seksi div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .contaner .main .seksi div:hover img {
  animation-play-state: running;
  background-color: red;
}
body .contaner .main .seksi div p {
  padding: 7px;
}
body .contaner .main .seksi div .name {
  font-weight: 100;
  font-size: 13px;
  padding-bottom: 0;
}
body .contaner .main .seksi div .profile {
  font-size: 11px;
  color: #C3C3C3;
}
body .contaner .main .seksi div img {
  width: 100%;
  transition: 0.5s all;
}
body .contaner .main .seksi div img:hover {
  box-shadow: 6px 6px 0 #95E1D3;
}
body .contaner .main .hippi {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
body .contaner .main .hippi img {
  width: 90%;
}
body .contaner .main .ima {
  padding-top: 30px;
  width: 100%;
  display: flex;
}
body .contaner .main .ima .vexa {
  width: 50%;
  display: flex;
  flex-direction: column;
}
body .contaner .main .ima .vexa div {
  //display: flex;jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
  width: 100%;
}
body .contaner .main .ima .vexa div img {
  width: 50%;
}
body .contaner .main .ima .meha {
  width: 50%;
  display: flex;
}
body .contaner .main .ima .meha div {
  width: 50%;
}
body .contaner .main .ima .meha div img {
  width: 100%;
}
body .contaner .main .ima .meha .nina {
  display: flex;
  flex-direction: column;
}
body .contaner .main .d .mag .l3 {
  width: 20%;
}
body .contaner .main .mi {
  display: flex;
  justify-content: center;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/Layer53.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body .contaner .main .mi .andy {
  display: flex;
  width: 80%;
  display: flex;
  padding-top: 30px;
}
body .contaner .main .mi .andy .ones {
  margin-right: 40px;
}
body .contaner .main .mi .andy div {
  width: 60%;
}
body .contaner .main .mi .andy div .tu {
  display: flex;
  padding: 10px;
  width: 100%;
}
body .contaner .main .mi .andy div .tu .haj {
  align-self: center;
}
body .contaner .main .mi .andy div .tu div {
  display: flex;
  flex-direction: column;
  padding: 3px;
  margin-left: 14px;
}
body .contaner .main .mi .andy div .tu div .name {
  font-size: 13px;
  padding-bottom: 8px;
  font-weight: 600;
}
body .contaner .main .mi .andy div .tu div .dol {
  padding-bottom: 8px;
  color: #818181;
  font-size: 14px;
  font-weight: 100;
  font-family: light-italic;
}
body .contaner .main .mi .andy div .tu div .text {
  color: #818181;
  font-size: 12px;
  line-height: 18px;
  font-family: "Noto Sans JP", sans-serif;
}
body .contaner .main .mi .andy div .tu div img {
  padding-bottom: 8px;
  width: 50px;
}
body .contaner .main .scrip {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
body .contaner .main .scrip .xxxt {
  width: 30%;
  display: flex;
  flex-direction: column;
}
body .contaner .main .scrip .xxxt .mini {
  display: flex;
  height: 200px;
  width: 100%;
  align-items: flex-end;
  background-image: url(../img/Lay1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 10px;
}
body .contaner .main .scrip .xxxt .mini p {
  background: #95E1D3;
  color: #fff;
  text-align: center;
  padding: 6px;
  border-left: solid 3px #95E1D3;
  margin-left: -7px;
}
body .contaner .main .scrip .xxxt .mini2 {
  background-image: url(../img/Lay2.png);
}
body .contaner .main .scrip .xxxt .mini3 {
  background-image: url(../img/Lay3.png);
}

@media (max-width: 440px) {
  body .contaner .main .berez div p {
    font-size: 12px;
  }

  body .contaner .main .berez div .cef {
    font-size: 35px;
  }

  body .contaner header .header1 .p2 {
    font-size: 50px;
  }
}
@media (max-width: 800px) {
  body .contaner {
    width: 100%;
  }

  body .contaner header nav ul {
    display: none;
  }

  body .contaner header nav .burger {
    display: flex;
  }

  body .contaner header nav .img img {
    display: none;
  }

  body .contaner .main .img {
    padding-top: 52px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  body .contaner .main .img img {
    width: 65%;
    margin-bottom: 15px;
  }

  body .contaner .main .laraptxe .lara {
    flex-direction: column;
    align-items: center;
  }

  body .contaner .main .laraptxe .lara div {
    margin-bottom: 15px;
  }

  body .contaner .main .mara .fit {
    flex-direction: column;
  }

  body .contaner .main .mara div .foto {
    width: 100%;
    align-self: center;
    padding-bottom: 10px;
  }

  body .contaner .main .mara div .tri div {
    padding-bottom: 10px;
  }

  body .contaner .main .mara .fish, body .contaner .main .Lorem p {
    line-height: 17px;
  }

  body .contaner .main .d {
    width: 100%;
  }

  body .contaner .main .d .in2 {
    padding: 5px;
  }

  body .contaner .main .d .margin {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  body .contaner .main .d .mag .SPEECH {
    margin: 0 auto;
  }

  body .contaner .main .d .mag .d2 {
    width: 100%;
  }

  body .contaner .main .d .mag .d2 .rec {
    line-height: 14px;
    overflow: auto;
    height: 100px;
    width: 100%;
    font-size: 14px;
    color: #c3c3c3;
    align-self: center;
  }

  body .contaner .main .d .mag .d2 div {
    align-self: center;
  }

  .main .berez div {
    padding: 6px;
  }

  body .contaner .main .seksi {
    flex-direction: column;
  }

  body .contaner .main .seksi div {
    width: 100%;
    padding-top: 10px;
  }

  body .contaner .main .seksi div img {
    width: 60%;
  }

  body .contaner .main .ima, body .contaner .main .mi .andy, body .contaner .main .mi .andy div .tu, body .contaner .main .mi .andy div .tu div {
    flex-direction: column;
    align-items: center;
  }

  body .contaner .main .ima .vexa, body .contaner .main .ima .meha {
    width: 80%;
  }

  body .contaner .main .d .mag .l3 {
    width: 30%;
    margin-left: 8px;
  }

  body .contaner .main .mi {
    padding: 0;
    padding-top: 10px;
  }

  body .contaner .main .mi .andy .ones {
    margin: 0;
  }

  body .contaner .main .mi .andy div {
    width: 80%;
  } 
  body .contaner .main .img img {
  width: 80%;
}
} 
